// Login Page SCSS
.login-wrapper {
  position: relative;
  height: 100vh;

  .bg-overlay {
    position: relative;
    top: 0;
    height: 100%;

    img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      bottom: 0;
    }
  }

  .login-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-area {
      width: 80%;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;

      .login-area__left,
      .login-area__right {
        padding: 0;
      }

      .login-screen {
        height: 82vh;
        background: $bg-gradient;
        text-align: center;
        border-radius: 0 16px 16px 0;
        padding: 2rem;

        .logo-wrapper {
          .logo {
            height: 3rem;
          }
        }

        .illustration-img {
          height: 64%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
          }
        }

        .welcome-text{
            p{
                font-size: 12px;
            }
        }
      }
    }
  }
}
